<app-header [title]="title" (menuClick)="onMenuClick()"></app-header>
<app-sidenav>
	<mat-form-field class="example-full-width">
		<mat-label>Search</mat-label>
		<input #searchInput matInput />
	</mat-form-field>
	<p>{{ searchInput.value }}</p>
	<ng-template #navListTpl>
		<mat-list
      #list
      role="list"
      appClickShadow
      [appNgClass]="{
        'search-not-empty': searchInput.value,
        'has-secret-value': searchInput.value === '123'
      }"
    >
			<mat-list-item role="listitem">Item 1</mat-list-item>
			<mat-list-item role="listitem">Item 2</mat-list-item>
			<mat-list-item role="listitem">Item 3</mat-list-item>
		</mat-list>
	</ng-template>
</app-sidenav>
